In [1]:
import pandas as pd

In [2]:
# reading the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## 1. Value Counts

In [4]:
# Counting gender elements (number of rows)

# len function
len(df_exams['gender'])

# .count() method
df_exams['gender'].count()

np.int64(1000)

In [6]:
# What if we want to count how many females and how many males are in the df? 
# this is when value_counts comes in handy. We can use this method to count each category of the column

In [7]:
# Counting gender elements by category
df_exams['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [8]:
# As we can see here, we have not only the total row in this gender column, but now it's divided by category
# So we have that there are 518 females and 482 males. So this is how the data is spread in the gender column.

In [10]:
# return the relative frequency (divide all values by the sum of values)
df_exams['gender'].value_counts(normalize=True)

gender
female    0.518
male      0.482
Name: proportion, dtype: float64

In [11]:
# As we can see here, females represent 51.8% of the total observations in the gender column, while men only represent 48.2%.

In [12]:
# Counting "parental level of education" elements by category
df_exams['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [ ]:
# and here we can see how the data is divided in this column

In [14]:
# return the relative frequency (divide all values by the sum of values)
df_exams['parental level of education'].value_counts(normalize=True).round(2)

parental level of education
some college          0.23
associate's degree    0.22
high school           0.20
some high school      0.18
bachelor's degree     0.12
master's degree       0.06
Name: proportion, dtype: float64