In [1]:
import pandas as pd

In [2]:
df_laptops = pd.read_csv('laptop_price.csv')

In [3]:
df_laptops.head(3)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00

## 1. Unique

This method returns unique values of Series object. (Uniques are returned in order of appearance.)

In [4]:
# getting unique elements in the "Company" column
df_laptops['Company'].unique()

array(['Apple', 'HP', 'Acer', 'Asus', 'Dell', 'Lenovo', 'Chuwi', 'MSI',
       'Microsoft', 'Toshiba', 'Huawei', 'Xiaomi', 'Vero', 'Razer',
       'Mediacom', 'Samsung', 'Google', 'Fujitsu', 'LG'], dtype=object)

In [5]:
# And here we get an array, and this array contains unique elements inside the Company column

In [6]:
# getting unique elements in the "Inches" column
df_laptops['Inches'].unique()

array([13.3, 15.6, 15.4, 14. , 12. , 11.6, 17.3, 10.1, 13.5, 12.5, 13. ,
       18.4, 13.9, 12.3, 17. , 15. , 14.1, 11.3])

In [13]:
# And here we get an array, and the array has all the screen sizes: 13.3", 15.6", 15.4", ...

In [7]:
# now we can get how many unique elements are in a column

# getting the length of unique elements
len(df_laptops['Inches'].unique())

18

In [14]:
# So here we have 18 unique values inside the Inches column (different types of screen sizes)

In [8]:
len(df_laptops['Company'].unique())

19

In [9]:
# And there are 19 unique elements in the Company column. 
# So that means there are 19 different Companies in the laptop's dataframe

## 2. nunique()

This method returns the number of unique elements in the object (it excludes NA values by default).

In [10]:
# getting the number of unique elements in the "Company" column
df_laptops['Company'].nunique()

19

In [11]:
# So there are 19 unique elements in the Company column and this result is the same 
# we obtained with the len() function

In [12]:
# getting the number of unique elements in the "Inches" column
df_laptops['Inches'].nunique()

18

In [ ]:
# And here we got 18  unique elements in the Inches column..

# And that's how we can get and count values using the unique and n-unique methods.