In [1]:
import pandas as pd

In [2]:
# reading csv file
df = pd.read_csv('players_20.csv')
# setting index
df.set_index('short_name', inplace=True)
# selecting columns
df = df[['long_name','age','dob','height_cm','weight_kg','nationality','club']]

In [3]:
# showing dataframe
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

# 1. apply()

The apply() method helps ups apply functions or operations to a dataframe or column. We can apply\
built-in functions as well as our own functions.

In [9]:
# Using a numpy function and apply it to a series
import numpy as np
df['age'].apply(np.square)    # math functions that can be applied to a column: https://numpy.org/doc/stable/reference/routines.math.html

short_name
L. Messi             1024
Cristiano Ronaldo    1156
Neymar Jr             729
J. Oblak              676
E. Hazard             784
                     ...
Shao Shuai            484
Xiao Mingjie          484
Zhang Wei             361
Wang Haijian          324
Pan Ximing            676
Name: age, Length: 18278, dtype: int64

In [5]:
# in this case, it's not very useful, but we can apply the same function to all the components in a column vector

In [10]:
# Creating my own function and applying it to a dataframe
# i'm going to create function that calculates the BMI of a soccer player (body mass index)

def calculate_bmi(df_temp):
    return df_temp['weight_kg']/((df_temp['height_cm']/100)**2)

In [11]:
df.apply(calculate_bmi, axis=1)

# the axis parameter indicates how we want to apply this function.
# axis=1 allows us to make operations with multiple columns

short_name
L. Messi             24.913495
Cristiano Ronaldo    23.735308
Neymar Jr            22.204082
J. Oblak             24.615211
E. Hazard            24.163265
                       ...
Shao Shuai           22.835010
Xiao Mingjie         21.066743
Zhang Wei            21.678807
Wang Haijian         21.621622
Pan Ximing           23.547881
Length: 18278, dtype: float64

In [ ]:
# and here I can see we get the BMI of each soccer player.
# So here I have 24.91 for L.Messi, 23.73 for C. Ronaldo, and so on..

In [ ]:
# And that's how functions can be applied to a series and to a dataframe.