# Hello World!

One of the typical ways to get started with a programming language is printing a simple message.\
You can write any message, but it's traditional among coders to start with a "Hello World", so let's try it.

In [5]:
print("Hello world!")

Hello world!

Unlike most Python text editors, Jupyter Notebook allow sus to print the last object in code cell without\
specifying the print function

In [1]:
"Hello World!"

'Hello World!'

# Data Types

Every value in Python is an object. An object has different data types. The most comon data types in Python\
are the following

## Integer and Float

Integer (int): Numbers that can be written without a fractional component.

In [2]:
# To check the data type, we can use the type function
type(9)

int

Float (float): Numbers that contain floating decimal points.

In [8]:
type(2.4)

float

## Math Operators
Just like on Excel, you can perform math operations in Python. Let's see the most common operators used in Python

* Addition: +
* Subtraction: -
* Multiplication: *
* Division: /
* Exponent: **
* Remainder: %
* Integer division: //

In [3]:
540000 + 540000

1080000

In [4]:
3 ** 2

9

## Boolean

Boolean (bool): True/False values

In [10]:
type(True)

bool

## String

String (str): A string represents a series of characters. In Python, anything inside quotes (single quotes or double-quotes) is a string.

In [11]:
type("Hello world")

str

### String Methods

We can apply different functions to strings as we would do in Excel. However in Python we use methods. A method is a function that "belongs to" an object. To call a method we use the "." sign after the object.  Let's see some string methods to change the case of text.

In [6]:
# change case of text
print("Hello world".upper())
print("Hello world".lower())
print("hello world".title())

HELLO WORLD
hello world
Hello World

In [7]:
# count letters
print("hello world".count('l'))

3

In [8]:
# replace string letters
print("Hello World".replace('o','u'))

Hellu Wurld

## Variables

Variables helps us store data values. In Python, we often work with data, so variables are useful to manage this data properly. A variable contains a value, which is the information associated with a variable. To assign a value to a variable, we use the =.

Let's create a message that says "I'm practicing Python" and store it in a variable called message_1.

In [9]:
message_1 = "I'm practicing Python"

Typing the variable name we can obtain the message (print its value)

In [10]:
message_1

"I'm practicing Python"

In [11]:
message_2 = "and it's fun!"

In [12]:
message_2

"and it's fun!"

## String Concatenation

We can put message_1 and message_2 together by using the + operator. This is called string concatenation.

In [13]:
message = message_1 + " " + message_2
message

"I'm practicing Python and it's fun!"

In [15]:
# one possible way to do this is using format: print(f"{message_1} {message_2}")

# Lists

In Python, lists are used to store multiple items in a single variable. Lists are ordered and mutable containers. In Python, we call 'mutable' to objects that can change their values. That is, elements within a list can change their value.

To create a list, we have to introduce the elements inside square brackets ([ ]), separated by commas. Consider the following list named "countries" that contains some of the countries with the largest population around the world.

In [17]:
countries = ["United States","Argentina","India","China","Brazil"]
countries

['United States', 'Argentina', 'India', 'China', 'Brazil']

## Indexing

By indexing we can obtain a list item or element by its position. Each item in a list has an index (position in the list). Python uses zero-based indexing. That is, the first element ("United States") has an index 0, the second("India") has index 1, and so on.

To access an element by its index we need to use square brackets []. Let's see some examples:

In [18]:
print(countries[0])
print(countries[1])
print(countries[2])
print(countries[3])

United States
Argentina
India
China

In [19]:
countries[-1]
# the first element starting from the last position

'Brazil'

## Slicing

Slicing means accessing parts of a list. A slice is a subset of list elements. Slice notation takes the form of:

list_name[start:stop]

where "start" represents the index of the first element, and stop represents the element to stop at (without including it in the slice).

In [20]:
countries[0:3]

['United States', 'Argentina', 'India']

In [21]:
countries[1:]

['Argentina', 'India', 'China', 'Brazil']

In [22]:
countries[:2]

['United States', 'Argentina']

## List Operations and Methods

There are a lot of things you can do with lists. You can add new elements, remove any element, update values, and so on. In this. section, we will see the most common list operation and methods

### Adding elements to a list

There are different methods that helps us add a new element to a list. Let's have a look.

In [26]:
# append: Adds a new element to a list
countries = ["United States","Argentina","India","China","Brazil"]
countries.append("England")
countries

['United States', 'Argentina', 'India', 'China', 'Brazil', 'England']

In [27]:
# insert: Adds a new element at a specific position
countries.insert(0, "Spain")
countries

['Spain', 'United States', 'Argentina', 'India', 'China', 'Brazil', 'England']

In [28]:
# joining lists using the + operator
countries_2 = ["UK","Germany","Austria"]
countries + countries_2

['Spain',
 'United States',
 'Argentina',
 'India',
 'China',
 'Brazil',
 'England',
 'UK',
 'Germany',
 'Austria']

We can put the list countries and countries_2 inside another list, which is called nested lists.

In [29]:
nested_list = [countries, countries_2]
nested_list

[['Spain',
  'United States',
  'Argentina',
  'India',
  'China',
  'Brazil',
  'England'],
 ['UK', 'Germany', 'Austria']]

### Remove an element

There are different methods that helps us remove an element from a list.

In [33]:
countries = ["United States","Argentina","India","China","Brazil"]
print(countries)

['United States', 'Argentina', 'India', 'China', 'Brazil']

In [34]:
# .remove() Removes the first matching value
countries.remove("China")
print(countries)

['United States', 'Argentina', 'India', 'Brazil']

In [35]:
# .pop(): Removes an item at an specific index and then returns it.
countries.pop(0)

'United States'

In [37]:
# it returns the element that it removed
countries

['Argentina', 'India', 'Brazil']

In [38]:
# del: removes an item at an specific index
del countries[0]
# it does not return the element that I get rid off

In [39]:
countries

['India', 'Brazil']

### Sorting a list

We can easily sort a list using the .sort() method. Let's create a new list called numbers and then sort it from the smallest to largest number.

In [41]:
numbers = [4, 3, 1, 9, 4, 6, 1, 3, 4]
numbers.sort()
numbers

[1, 1, 3, 3, 4, 4, 4, 6, 9]


We can add the reverse argument to the .sort() method to control the order. If we want it to be descendent we set reverse=True

In [42]:
numbers = [4, 3, 1, 9, 4, 6, 1, 3, 4]
numbers.sort(reverse=True)
numbers

[9, 6, 4, 4, 4, 3, 3, 1, 1]

### Update value on a list

To update a value on a list we use indexing to locate the element we want to update and then set it to a new value using the = sign.

In [66]:
numbers[0] = 10000
numbers

[10000, 6, 4, 4, 4, 3, 3, 1, 1]

### Copying a list

Whenever we need to make a copy of an existing list, we can use the following options:

In [43]:
countries = ["United States", "Argentina", "India", "Brazil"]
new_list = countries[:]
print(new_list)
new_list_2 = countries.copy()
print(new_list_2)

['United States', 'Argentina', 'India', 'Brazil']
['United States', 'Argentina', 'India', 'Brazil']

The [:] comes from the slicing technique. In this case, we didn't set neither a start nor a stop value, so the entire list is selected. On the other hand, the .copy() method explicitly makes a copy of a list.

# Dictionary

In Python, dictionaries help us store data in key:value pairs (one pair is called an item). Like lists, dictionaries are mutable, but unlike lists, dictionaries are accessed via keys and duplicate keys are not allowed.

In [44]:
my_dict = {'key1':'value1', 'key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [45]:
my_data = {'name':'Martín', 'age':29}
my_data['name']

'Martín'

In [46]:
my_data.keys()

dict_keys(['name', 'age'])

In [47]:
my_data.values()

dict_values(['Martín', 29])

In [48]:
my_data.items()

dict_items([('name', 'Martín'), ('age', 29)])

## Add/update elements

Similar to lists, we can add and update values in a dictionary. For example

In [49]:
my_data['height'] = 1.75

In [50]:
my_data

{'name': 'Martín', 'age': 29, 'height': 1.75}

In [52]:
my_data.update({'height':1.8, 'languages':['English', 'Spanish']})

In [53]:
my_data

{'name': 'Martín',
 'age': 29,
 'height': 1.8,
 'languages': ['English', 'Spanish']}

## Copy a dictionary

We can use the .copy method to make a copy of a dictionary.

In [54]:
new_dict = my_data.copy()
new_dict

{'name': 'Martín',
 'age': 29,
 'height': 1.8,
 'languages': ['English', 'Spanish']}

## Remove elements

In [55]:
my_data.pop('age')

29

In [56]:
# the pop returns the value of the key of the pair k,v we removed
my_data

{'name': 'Martín', 'height': 1.8, 'languages': ['English', 'Spanish']}

In [57]:
del my_data['height']

In [58]:
my_data

{'name': 'Martín', 'languages': ['English', 'Spanish']}

In [59]:
my_data.clear()
# it removes all elements of the dictionario

In [60]:
my_data

{}

# If statement

The if statement is one of the most common statements used in Python. It's a conditional statement used to decide whether a statement (or block of statements) will be executed.

In [64]:
velocity = 65
your_birthday = True

if velocity > 60 and velocity < 80 and not your_birthday:
    print("Speeding ticket!")
elif velocity > 60 and velocity < 80 and your_birthday:
    print("I forgive you this time, but slow down.")
elif velocity >= 80:
    print("Big ticket!")
else:
    print("normal speed")

I forgive you this time, but slow down.

We can use the if statement with in keyword to verify if an element is in a list.

In [65]:
card = 'J'
sum = 0

if card in ['J','Q','K']:
    sum +=10
else:
    sum = int(card)

print(sum)

10

### Operators

Comparisson Operators

* Equal to: ==
* Different: !=
* Greater than: >
* Less than: <
* Greater than or equal to: >=
* Less than or equal to: <=

### Boolean Operators

* and
* or
* not

# For loops

The for loop is a frequently used loop in Python. It allows us to loop through an iterable object (e.g., list, dictionaries) and perform the same action to each element.

In [100]:
for country in countries:
    print(country)

# La rutina lo que hace es iterar a traves de la lista countries e imprimir cada elemento 
# que va asumiendo la variable de control country en cada iteracion

United States
Argentina
India
Brazil

In [67]:
for country in countries:
    if country == "Argentina":
        print(country, "es el mejor pais del mundo.")

Argentina es el mejor pais del mundo.

Loops are a way to repeatedly execute some code. Here's an example:

In [76]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print(planet, end=' ') # print all on same line

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

The for loop specifies

* the variable name to use (in this case, planet)
* the set of values to loop over (in this case, planets)

You use the word "in" to link them together.

The object to the right of the "in" can be any object that supports iteration. Basically, if it can be thought of as a group of things, you can probably loop over it. In addition to lists, we can iterate over the elements of a tuple:

In [77]:
multiplicands = (2, 2, 2, 3, 3, 5)
product = 1
for mult in multiplicands:
    product = product * mult
product

360

You can even loop through each character in a string:

In [78]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''
# print all the uppercase letters in s, one at a time
for char in s:
    if char.isupper():
        print(char, end='')

HELLO

range()

range() is a function that returns a sequence of numbers. It turns out to be very useful for writing loops.

For example, if we want to repeat some action 5 times:

In [79]:
for i in range(5):
    print("Doing important work. i =", i)

Doing important work. i = 0
Doing important work. i = 1
Doing important work. i = 2
Doing important work. i = 3
Doing important work. i = 4

## Enumerating in a for loop

Sometimes we need to enumerate elements in a loop. We can do this with the for loop.

In [128]:
for i, country in enumerate(countries):
    print(f"{country} es el pais numero {i+1} en la lista.")

# enumerate lo que hace es enumerar cada elemento de la lista countries
# a medida que iteramos a traves de la lista. Es decir, en la primera iteración
# la primera vuelta, al primer elemento le pone el indice 0, al segundo elemento le pone el indice 1
# es decir, a cada elemento de la lista le asocia un numero que se corresponde con la posición
# de ese elemento en la lista..

# P.ej, en este caso a estados unidos le asigna 0, a argentina le asigna 1, a india le asigna 2 y asi sucesivamente
# y podemos usar ese indice, que esta contenido en la variable i, para hacer cosas en el programa.

# Enumerate va a retornar dos elementos, el primero sera el numero de iteración/de bucle y el segundo va a ser el 
# elemento de la lista propiamente dicho

United States es el pais numero 1 en la lista.
Argentina es el pais numero 2 en la lista.
India es el pais numero 3 en la lista.
Brazil es el pais numero 4 en la lista.

## Looping through dictionary elements

We can obtain the key and item separately while looping through a dictionary. We only need to use the .items() method.

In [68]:
my_data = {'name': 'Martín','age': 29,'height': 1.8,
             'languages': ['English', 'Spanish']}

In [69]:
for key, value in my_data.items():
    print(f"{key}: {value}")

name: Martín
age: 29
height: 1.8
languages: ['English', 'Spanish']

# while loops

The other type of loop in Python is a while loop, which iterates until some condition is met:

In [80]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1 # increase the value of i by 1

0 1 2 3 4 5 6 7 8 9

The argument of the while loop is evaluated as a boolean statement, and the loop is executed until the statement evaluates to False.

## List comprehensions

List comprehensions are one of Python's most beloved and unique features. The easiest way to understand them is probably to just look at a few examples:

In [81]:
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Here's how we would do the same thing without a list comprehension:

In [82]:
squares = []
for n in range(10):
    squares.append(n**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

We can also add an if condition:

In [83]:
short_planets = [planet for planet in planets if len(planet) < 6]
short_planets

['Venus', 'Earth', 'Mars']

It's like a like a "WHERE" clause in SQL.

Here's an example of filtering with an if condition and applying some transformation to the loop variable:

In [84]:
# str.upper() returns an all-caps version of a string
loud_short_planets = [planet.upper() + '!' for planet in planets if len(planet) < 6]
loud_short_planets

['VENUS!', 'EARTH!', 'MARS!']

# Functions

A function is a block of code which only runs when it is called. You can pass data as parameters into a function\
Here is the syntax of the function:

def function(<params>):
    <code>
    return <data>

## Built-In Functions

Python has lots of built-in functions that can help us perform a specific task. Let's have a look at the most common of them.

* range()
* len()
* max()
* min()
* round()
* type()

## How to Create a Function

We can also create our own functions. Let's create a function that sums two values a and b

In [105]:
def sum_values(a, b):
    x = a + b
    return x

In [108]:
sum_values(27,8)

35

In [70]:
countries = ["United States", "Argentina", "India", "Brazil"]

In [71]:
len(countries)

4

In [72]:
max([10, 63, 81, 1, 99])

99

In [73]:
min([10, 63, 81, 1, 99])

1

In [74]:
type(countries)

list

In [75]:
for i in range(28, 44, 2):
    print(i, end=' ')

28 30 32 34 36 38 40 42

# Modules

A module is a file consisting of Python code. A module can contain functions, classes, variables and also runnable code.

We can get access to a Python module with the "import" statement.

## OS Module

The OS module comes with Python. It provides functions for interacting with the operating system.

In [122]:
import os

In [123]:
# get current working directory
os.getcwd()

'C:\\Users\\Martin\\Desktop\\ML-Portfolio-backup\\section-2-data-science-and-ml-tools\\sample_tools_1'

In [125]:
os.listdir()
# it lists all the elements in the folder where this Jupyter notebook file is located.

['.ipynb_checkpoints', 'env', 'Python_Essentials.ipynb']

In [126]:
os.makedirs("New Folder")
# it helps me to create new folders.. Inside of the () I have to write the name of the folder I want to create.

In [127]:
os.listdir()
# I can see there is a new one element

['.ipynb_checkpoints', 'env', 'New Folder', 'Python_Essentials.ipynb']